In [1]:
import requests
import pandas as pd
import numpy as np
import time 
import json
import os
from datetime import datetime, timedelta

# REQUEST AND CLEAN API

In [ ]:
# API requests: 
btc = requests.get("https://api.cryptowat.ch/markets/kraken/btcusd/ohlc?periods=86400&apikey=XVGSK3GTQSR4WA9W8XY7")

In [ ]:
#Jsonize
btc = btc.json()

In [ ]:
btc['result']['86400']

In [ ]:
# Convert jsonized lists to DF 
btc = pd.DataFrame(btc['result']['86400'])

In [ ]:
# Rename DF columns 
btc.columns = ['date', 'open_price', 'hi_price', 'lo_price', 'close_price', 'vol', 'quote_vol']

In [ ]:
# Select only date and closing value 
btc = btc[['date','close_price']]

In [ ]:
# Convert Epoch time (secs since 1970) into datetime object
btc['date'] = pd.to_datetime(btc['date'], unit='s')

In [ ]:
#Select date range from 2016 - 2021
BTC = (btc.loc[btc["date"].between("2016-01-01", "2021-12-31")]).reset_index(drop=True)

# CLEAN API DATA FUNCTION

In [ ]:
def clean_api_request(req): #Inouts a cryptowatch API request
    req = req.json()
    # Convert jsonized lists to DF 
    req = pd.DataFrame(req['result']['86400'])
    # Rename DF columns 
    req.columns = ['date', 'open_price', 'hi_price', 'lo_price', 'close_price', 'vol', 'quote_vol']
    # Select only date and closing value 
    req = req[['date','close_price']]
    # Convert Epoch time (secs since 1970) into datetime object
    req['date'] = pd.to_datetime(req['date'], unit='s')
    #Select date range from 2016 - 2021
    req = (req.loc[req["date"].between("2016-01-01", "2021-12-31")]).reset_index(drop=True)
    return req # returns a DF with date and daily close cryptocurrency price for every request

In [ ]:
# # EURIBOR = pd.read_csv("../data/EURIRS10Y= Overview.csv")
# LIBOR = pd.read_csv("../data/LIBOR_16-21.csv")
# FEDRATES = pd.read_csv("fed-funds-rate-16-21.csv")


# GDP_GROWTH_REG = pd.read_csv("../data/growth _region_16-21.csv")
# GDP_GROWTH = pd.read_csv("../data/gdp_invest_16-21.xls")

# COMODITIES

In [15]:
import pandas as pd 
OIL_BRENT = pd.read_csv("../data/brent-crude-oil-prices-16-21.csv")
OIL_WTI = pd.read_csv("../data/WTI_oil_prices_16-21.csv")
GOLD = pd.read_csv("../data/gold_prices_16-21.csv")
SILVER = pd.read_csv("../data/silver_prices_16-21.csv")
STEEL = pd.read_csv("../data/Steel_prices_16-21.csv")
# COAL = pd.read_csv("../data/Coal_p_16-21.csv")

In [16]:
OIL_BRENT

            date  brent_oil_p
0     04/01/2016        37.22
1     05/01/2016        36.42
2     06/01/2016        34.23
3     07/01/2016        33.75
4     08/01/2016        33.55
...          ...          ...
1526  23/12/2021        76.26
1527  24/12/2021        75.24
1528  29/12/2021        78.63
1529  30/12/2021        78.61
1530  31/12/2021        77.24

[1531 rows x 2 columns]

In [17]:
OIL_WTI

            date wti_oil_pprice
0     01/01/2016          36.81
1     04/01/2016          36.81
2     05/01/2016          35.97
3     06/01/2016          33.97
4     07/01/2016          33.29
...          ...            ...
1561  27/12/2021          75.49
1562  28/12/2021          76.01
1563  29/12/2021          76.58
1564  30/12/2021          76.83
1565  31/12/2021          75.33

[1566 rows x 2 columns]

In [18]:
GOLD

            date  gold_p
0     04/01/2016  1075.2
1     05/01/2016  1078.4
2     06/01/2016  1091.9
3     07/01/2016  1107.8
4     08/01/2016  1097.9
...          ...     ...
1527  27/12/2021  1808.8
1528  28/12/2021  1810.9
1529  29/12/2021  1805.8
1530  30/12/2021  1814.1
1531  31/12/2021  1828.6

[1532 rows x 2 columns]

In [19]:
SILVER

            date  silver_p
0     04/01/2016   13.8400
1     05/01/2016   13.9700
2     06/01/2016   13.9800
3     07/01/2016   14.3400
4     08/01/2016   13.9200
...          ...       ...
1530  27/12/2021   22.9580
1531  28/12/2021   23.0954
1532  29/12/2021   22.8394
1533  30/12/2021   23.0472
1534  31/12/2021   23.3472

[1535 rows x 2 columns]

In [20]:
STEEL

            date  steel_price
0     04/01/2016       0.7704
1     05/01/2016       0.7843
2     06/01/2016       0.7154
3     07/01/2016       0.6355
4     08/01/2016       0.6398
...          ...          ...
1506  27/12/2021       4.1838
1507  28/12/2021       4.1838
1508  29/12/2021       4.1360
1509  30/12/2021       4.2506
1510  31/12/2021       4.2411

[1511 rows x 2 columns]

In [21]:
# COAL["date"] = pd.to_datetime(COAL["date"],infer_datetime_format=True)
# COAL["date"]

# COAL.sort_values(by='date', inplace=True)



# COAL = COAL.drop("date")
# df.drop([0, 1])

# COAL = COAL.reset_index().drop('index', axis=1)

In [37]:
com_list = [OIL_WTI, OIL_BRENT, GOLD, SILVER,STEEL]  # List of your dataframes

In [23]:
# result = pd.concat(pdList,axis=1,join="outer",ignore_index=False,sort=False, copy=False)


# df = pd.concat(pdList, axis=1, dropna=True).reset_index(drop=True)
# new_df = pd.concat(pdList,dropna=True,inplace=True)


# COAL = COAL.set_index('date')

In [24]:
# result.tail(60)

Doesn't work as the missing dates are ignored and the cells are shifted up, leaving some commodities with no value from Nov 2021

In [25]:
# We convert the date coliumn into the index to compare later with other DF 

OIL_WTI = OIL_WTI.set_index('date')
OIL_BRENT = OIL_BRENT.set_index('date')
GOLD = GOLD.set_index('date')
SILVER = SILVER.set_index('date')
STEEL = STEEL.set_index('date')

In [477]:
comm_df = pd.concat(com_list,axis=1,join="inner",ignore_index=False,sort=False, copy=False)

In [478]:
comm_df

           wti_oil_pprice  brent_oil_p  gold_p  silver_p  steel_price
date
04/01/2016          36.81        37.22  1075.2   13.8400       0.7704
05/01/2016          35.97        36.42  1078.4   13.9700       0.7843
06/01/2016          33.97        34.23  1091.9   13.9800       0.7154
07/01/2016          33.29        33.75  1107.8   14.3400       0.6355
08/01/2016           33.2        33.55  1097.9   13.9200       0.6398
...                   ...          ...     ...       ...          ...
22/12/2021          72.82        74.69  1802.2   22.7860       4.1265
23/12/2021          73.89        76.26  1811.7   22.9130       4.1169
29/12/2021          76.58        78.63  1805.8   22.8394       4.1360
30/12/2021          76.83        78.61  1814.1   23.0472       4.2506
31/12/2021          75.33        77.24  1828.6   23.3472       4.2411

[1490 rows x 5 columns]

# CURRENCIES (£-USD, EURO-USD, USD-Yuan, USD-yen)

In [286]:
import pandas as pd 
gbp = pd.read_csv("../data/USD_GBP_16-21.csv")
eur = pd.read_csv("../data/USD_EUR_16-21.csv")
yua = pd.read_csv("../data/USD_CNY_16-21.csv")
yen = pd.read_csv("../data/USD_JPY_16-21.csv")

In [287]:
print(gbp.isna().sum())
len(gbp)

date          0
usd_gbp       0
usd_gbp_ %    0
dtype: int64

1566

In [288]:
print(eur.isna().sum())
len(eur)

date         0
usd_eur      0
usd_eur_%    0
dtype: int64

1566

In [289]:
print(yua.isna().sum())
len(yua)

date          0
usd_yuan      0
usd_yuan_%    0
dtype: int64

1550

In [290]:
print(yen.isna().sum())
len(yen)

date          0
usd_yen       0
usd_yen_ %    0
dtype: int64

1566

In [291]:
gbp = gbp.set_index('date')
eur = eur.set_index('date')
yua = yua.set_index('date')
yen = yen.set_index('date')

In [532]:
gbp

              usd_gbp usd_gbp_ %
date
Jan 01, 2016   0.6781     -0.04%
Jan 04, 2016   0.6794      0.19%
Jan 05, 2016   0.6815      0.31%
Jan 06, 2016   0.6836      0.31%
Jan 07, 2016   0.6841      0.07%
...               ...        ...
Dec 27, 2021   0.7438     -0.42%
Dec 28, 2021   0.7442      0.05%
Dec 29, 2021   0.7412     -0.40%
Dec 30, 2021   0.7409     -0.04%
Dec 31, 2021   0.7389     -0.27%

[1566 rows x 2 columns]

In [292]:
currencies = [gbp,eur,yua,yen]

In [293]:
curr_df = pd.concat(currencies,axis=1,join="inner",ignore_index=False,sort=False, copy=False)

In [294]:
curr_df

,usd_gbp,usd_gbp_ %,usd_eur,usd_eur_%,usd_yuan,usd_yuan_%,usd_yen,usd_yen_ %
date,,,,,,,,
"Jan 01, 2016",0.6781,-0.04%,0.9208,0.01%,6.4936,0.00%,120.33,0.01%
"Jan 04, 2016",0.6794,0.19%,0.9232,0.26%,6.5354,0.64%,119.44,-0.74%
"Jan 05, 2016",0.6815,0.31%,0.9304,0.78%,6.5148,-0.32%,119.06,-0.32%
"Jan 06, 2016",0.6836,0.31%,0.9275,-0.31%,6.5566,0.64%,118.47,-0.50%
"Jan 07, 2016",0.6841,0.07%,0.9144,-1.41%,6.5929,0.55%,117.68,-0.67%
...,...,...,...,...,...,...,...,...
"Dec 27, 2021",0.7438,-0.42%,0.8826,-0.08%,6.3705,0.05%,114.83,0.37%
"Dec 28, 2021",0.7442,0.05%,0.8839,0.15%,6.3684,-0.03%,114.81,-0.02%
"Dec 29, 2021",0.7412,-0.40%,0.8809,-0.34%,6.3680,-0.01%,114.94,0.11%
"Dec 30, 2021",0.7409,-0.04%,0.8829,0.23%,6.3691,0.02%,115.06,0.10%
"Dec 31, 2021",0.7389,-0.27%,0.8794,-0.40%,6.3521,-0.27%,115.08,0.02%

In [295]:
# curr_df.index = pd.to_datetime(curr_df.index, dayfirst = True)
# df['DOB'] = pd.to_datetime(df['DOB'], dayfirst = True)

In [296]:
curr_df = curr_df.reset_index()

In [297]:
curr_df

,date,usd_gbp,usd_gbp_ %,usd_eur,usd_eur_%,usd_yuan,usd_yuan_%,usd_yen,usd_yen_ %
0,"Jan 01, 2016",0.6781,-0.04%,0.9208,0.01%,6.4936,0.00%,120.33,0.01%
1,"Jan 04, 2016",0.6794,0.19%,0.9232,0.26%,6.5354,0.64%,119.44,-0.74%
2,"Jan 05, 2016",0.6815,0.31%,0.9304,0.78%,6.5148,-0.32%,119.06,-0.32%
3,"Jan 06, 2016",0.6836,0.31%,0.9275,-0.31%,6.5566,0.64%,118.47,-0.50%
4,"Jan 07, 2016",0.6841,0.07%,0.9144,-1.41%,6.5929,0.55%,117.68,-0.67%
...,...,...,...,...,...,...,...,...,...
1545,"Dec 27, 2021",0.7438,-0.42%,0.8826,-0.08%,6.3705,0.05%,114.83,0.37%
1546,"Dec 28, 2021",0.7442,0.05%,0.8839,0.15%,6.3684,-0.03%,114.81,-0.02%
1547,"Dec 29, 2021",0.7412,-0.40%,0.8809,-0.34%,6.3680,-0.01%,114.94,0.11%
1548,"Dec 30, 2021",0.7409,-0.04%,0.8829,0.23%,6.3691,0.02%,115.06,0.10%
1549,"Dec 31, 2021",0.7389,-0.27%,0.8794,-0.40%,6.3521,-0.27%,115.08,0.02%

In [298]:
curr_df['date']

0       Jan 01, 2016
1       Jan 04, 2016
2       Jan 05, 2016
3       Jan 06, 2016
4       Jan 07, 2016
            ...
1545    Dec 27, 2021
1546    Dec 28, 2021
1547    Dec 29, 2021
1548    Dec 30, 2021
1549    Dec 31, 2021
Name: date, Length: 1550, dtype: object

In [299]:
curr_df['date'] = pd.to_datetime(curr_df['date'])

In [300]:
curr_df['date']

0      2016-01-01
1      2016-01-04
2      2016-01-05
3      2016-01-06
4      2016-01-07
          ...
1545   2021-12-27
1546   2021-12-28
1547   2021-12-29
1548   2021-12-30
1549   2021-12-31
Name: date, Length: 1550, dtype: datetime64[ns]

In [301]:
curr_df['date'] = curr_df['date'].dt.strftime('%d/%m/%Y')

In [302]:
curr_df['date']

0       01/01/2016
1       04/01/2016
2       05/01/2016
3       06/01/2016
4       07/01/2016
           ...
1545    27/12/2021
1546    28/12/2021
1547    29/12/2021
1548    30/12/2021
1549    31/12/2021
Name: date, Length: 1550, dtype: object

In [387]:
curr_df

,date,usd_gbp,usd_gbp_ %,usd_eur,usd_eur_%,usd_yuan,usd_yuan_%,usd_yen,usd_yen_ %
0,2016-01-01,0.6781,-0.04%,0.9208,0.01%,6.4936,0.00%,120.33,0.01%
1,2016-04-01,0.6794,0.19%,0.9232,0.26%,6.5354,0.64%,119.44,-0.74%
2,2016-05-01,0.6815,0.31%,0.9304,0.78%,6.5148,-0.32%,119.06,-0.32%
3,2016-06-01,0.6836,0.31%,0.9275,-0.31%,6.5566,0.64%,118.47,-0.50%
4,2016-07-01,0.6841,0.07%,0.9144,-1.41%,6.5929,0.55%,117.68,-0.67%
...,...,...,...,...,...,...,...,...,...
1545,2021-12-27,0.7438,-0.42%,0.8826,-0.08%,6.3705,0.05%,114.83,0.37%
1546,2021-12-28,0.7442,0.05%,0.8839,0.15%,6.3684,-0.03%,114.81,-0.02%
1547,2021-12-29,0.7412,-0.40%,0.8809,-0.34%,6.3680,-0.01%,114.94,0.11%
1548,2021-12-30,0.7409,-0.04%,0.8829,0.23%,6.3691,0.02%,115.06,0.10%
1549,2021-12-31,0.7389,-0.27%,0.8794,-0.40%,6.3521,-0.27%,115.08,0.02%

In [388]:
curr_df.date = pd.to_datetime(curr_df.date)

In [389]:
comm_df

           date wti_oil_pprice  brent_oil_p  gold_p  silver_p  steel_price
0    2016-04-01          36.81        37.22  1075.2   13.8400       0.7704
1    2016-05-01          35.97        36.42  1078.4   13.9700       0.7843
2    2016-06-01          33.97        34.23  1091.9   13.9800       0.7154
3    2016-07-01          33.29        33.75  1107.8   14.3400       0.6355
4    2016-08-01           33.2        33.55  1097.9   13.9200       0.6398
...         ...            ...          ...     ...       ...          ...
1485 2021-12-22          72.82        74.69  1802.2   22.7860       4.1265
1486 2021-12-23          73.89        76.26  1811.7   22.9130       4.1169
1487 2021-12-29          76.58        78.63  1805.8   22.8394       4.1360
1488 2021-12-30          76.83        78.61  1814.1   23.0472       4.2506
1489 2021-12-31          75.33        77.24  1828.6   23.3472       4.2411

[1490 rows x 6 columns]

In [390]:
comm_df.date = pd.to_datetime(comm_df.date)

# CURRENCIES AND COMM concat

In order to have the same rows and dates to compare

In [306]:
comm_df = comm_df.reset_index()

In [345]:
main_df = pd.merge(curr_df,comm_df,how="inner",on='date')

In [346]:
main_df.isna().sum()

date              0
usd_gbp           0
usd_gbp_ %        0
usd_eur           0
usd_eur_%         0
usd_yuan          0
usd_yuan_%        0
usd_yen           0
usd_yen_ %        0
wti_oil_pprice    0
brent_oil_p       0
gold_p            0
silver_p          0
steel_price       0
dtype: int64

In [347]:
main_df

,date,usd_gbp,usd_gbp_ %,usd_eur,usd_eur_%,usd_yuan,usd_yuan_%,usd_yen,usd_yen_ %,wti_oil_pprice,brent_oil_p,gold_p,silver_p,steel_price
0,2016-04-01,0.6794,0.19%,0.9232,0.26%,6.5354,0.64%,119.44,-0.74%,36.81,37.22,1075.2,13.8400,0.7704
1,2016-05-01,0.6815,0.31%,0.9304,0.78%,6.5148,-0.32%,119.06,-0.32%,35.97,36.42,1078.4,13.9700,0.7843
2,2016-06-01,0.6836,0.31%,0.9275,-0.31%,6.5566,0.64%,118.47,-0.50%,33.97,34.23,1091.9,13.9800,0.7154
3,2016-07-01,0.6841,0.07%,0.9144,-1.41%,6.5929,0.55%,117.68,-0.67%,33.29,33.75,1107.8,14.3400,0.6355
4,2016-08-01,0.6887,0.67%,0.9148,0.04%,6.5965,0.05%,117.45,-0.20%,33.2,33.55,1097.9,13.9200,0.6398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1472,2021-12-22,0.7488,-0.62%,0.8828,-0.36%,6.3695,-0.03%,114.11,0.03%,72.82,74.69,1802.2,22.7860,4.1265
1473,2021-12-23,0.7457,-0.41%,0.8826,-0.02%,6.3696,0.00%,114.37,0.23%,73.89,76.26,1811.7,22.9130,4.1169
1474,2021-12-29,0.7412,-0.40%,0.8809,-0.34%,6.3680,-0.01%,114.94,0.11%,76.58,78.63,1805.8,22.8394,4.1360
1475,2021-12-30,0.7409,-0.04%,0.8829,0.23%,6.3691,0.02%,115.06,0.10%,76.83,78.61,1814.1,23.0472,4.2506
1476,2021-12-31,0.7389,-0.27%,0.8794,-0.40%,6.3521,-0.27%,115.08,0.02%,75.33,77.24,1828.6,23.3472,4.2411

# INTEREST RATE INDEXES

In [511]:
import pandas as pd 
libor = pd.read_csv("../data/LIBOR_16-21.csv")
eonia = pd.read_csv("../data/eonia_16-21.csv")
fed = pd.read_csv("../data/fed-funds-rate-16-21.csv")

In [480]:
# libor.reset_index()
# eonia.reset_index()
# fed.reset_index()

In [518]:
libor['date'] = pd.to_datetime(libor['date'])

In [519]:
eonia['date'] = pd.to_datetime(eonia['date'])

In [520]:
fed['date'] = pd.to_datetime(fed['date'])

In [482]:
libor = libor.set_index('date')
eonia = eonia.set_index('date')
fed = fed.set_index('date')
interest_list = [libor, eonia,fed]

In [522]:
 rates_1 =  pd.merge(libor,eonia,how="inner",on='date')

In [502]:
rates_df = pd.concat(interest_list,axis=1,join="outer",verify_integrity=True,ignore_index=False,sort=False, copy=False)
# comm_df = pd.concat(com_list,axis=1,join="inner",ignore_index=False,sort=False, copy=False)

In [523]:
rates_1.isna().sum()

date     0
LIBOR    0
eonia    0
dtype: int64

In [524]:
rates_1

           date    LIBOR  eonia
0    2016-04-01  0.36580 -0.241
1    2016-05-01  0.36500 -0.251
2    2016-06-01  0.36610 -0.253
3    2016-07-01  0.36510 -0.233
4    2016-08-01  0.36620 -0.235
...         ...      ...    ...
1509 2021-12-21  0.07288 -0.486
1510 2021-12-22  0.07050 -0.489
1511 2021-12-23  0.07513 -0.491
1512 2021-12-24  0.06975 -0.495
1513 2021-12-29  0.07275 -0.493

[1514 rows x 3 columns]

In [525]:
 rates =  pd.merge(rates_1,fed,how="inner",on='date')

In [526]:
rates

           date    LIBOR  eonia  fed_rate
0    2016-04-01  0.36580 -0.241      0.36
1    2016-05-01  0.36500 -0.251      0.36
2    2016-06-01  0.36610 -0.253      0.36
3    2016-07-01  0.36510 -0.233      0.36
4    2016-08-01  0.36620 -0.235      0.36
...         ...      ...    ...       ...
1481 2021-12-21  0.07288 -0.486      0.08
1482 2021-12-22  0.07050 -0.489      0.08
1483 2021-12-23  0.07513 -0.491      0.08
1484 2021-12-24  0.06975 -0.495      0.08
1485 2021-12-29  0.07275 -0.493      0.08

[1486 rows x 4 columns]

# Merge rates with main DF

In [528]:
main_=  pd.merge(main_df,rates,how="inner",on='date')

In [529]:
main_

,date,usd_gbp,usd_gbp_ %,usd_eur,usd_eur_%,usd_yuan,usd_yuan_%,usd_yen,usd_yen_ %,wti_oil_pprice,brent_oil_p,gold_p,silver_p,steel_price,LIBOR,eonia,fed_rate
0,2016-04-01,0.6794,0.19%,0.9232,0.26%,6.5354,0.64%,119.44,-0.74%,36.81,37.22,1075.2,13.8400,0.7704,0.36580,-0.241,0.36
1,2016-05-01,0.6815,0.31%,0.9304,0.78%,6.5148,-0.32%,119.06,-0.32%,35.97,36.42,1078.4,13.9700,0.7843,0.36500,-0.251,0.36
2,2016-06-01,0.6836,0.31%,0.9275,-0.31%,6.5566,0.64%,118.47,-0.50%,33.97,34.23,1091.9,13.9800,0.7154,0.36610,-0.253,0.36
3,2016-07-01,0.6841,0.07%,0.9144,-1.41%,6.5929,0.55%,117.68,-0.67%,33.29,33.75,1107.8,14.3400,0.6355,0.36510,-0.233,0.36
4,2016-08-01,0.6887,0.67%,0.9148,0.04%,6.5965,0.05%,117.45,-0.20%,33.2,33.55,1097.9,13.9200,0.6398,0.36620,-0.235,0.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,2021-12-20,0.7571,0.25%,0.8866,-0.33%,6.3756,0.01%,113.58,-0.08%,68.69,70.51,1794.6,22.2700,3.8972,0.07250,-0.491,0.08
1453,2021-12-21,0.7535,-0.48%,0.8860,-0.07%,6.3716,-0.06%,114.08,0.44%,71.1,72.85,1788.7,22.4940,4.0883,0.07288,-0.486,0.08
1454,2021-12-22,0.7488,-0.62%,0.8828,-0.36%,6.3695,-0.03%,114.11,0.03%,72.82,74.69,1802.2,22.7860,4.1265,0.07050,-0.489,0.08
1455,2021-12-23,0.7457,-0.41%,0.8826,-0.02%,6.3696,0.00%,114.37,0.23%,73.89,76.26,1811.7,22.9130,4.1169,0.07513,-0.491,0.08
1456,2021-12-29,0.7412,-0.40%,0.8809,-0.34%,6.3680,-0.01%,114.94,0.11%,76.58,78.63,1805.8,22.8394,4.1360,0.07275,-0.493,0.08

# Merge cryptos with main DF

In [631]:
BTC = pd.read_csv("../final_data/btc.csv")
LTC = pd.read_csv("../final_data/ltc.csv")
ETH = pd.read_csv("../final_data/eth.csv")
XRP = pd.read_csv("../final_data/xrp.csv")
DOGE = pd.read_csv("../final_data/doge.csv")

In [632]:
XRP["Date"] = pd.to_datetime(XRP["Date"],infer_datetime_format=True)
XRP['Date'] = XRP['Date'].dt.normalize()

In [633]:
XRP.rename(columns={"Date":"date"})

      Unnamed: 0       date     xrp_p
0              0 2016-01-01  0.005955
1              1 2016-02-01  0.006065
2              2 2016-03-01  0.006017
3              3 2016-04-01  0.005958
4              4 2016-05-01  0.006044
...          ...        ...       ...
2187        2187 2021-12-27  0.926184
2188        2188 2021-12-28  0.852960
2189        2189 2021-12-29  0.816714
2190        2190 2021-12-30  0.839649
2191        2191 2021-12-31  0.831163

[2192 rows x 3 columns]

In [634]:
DOGE["Date"] = pd.to_datetime(DOGE["Date"],infer_datetime_format=True)
DOGE['Date'] = DOGE['Date'].dt.normalize()

In [635]:
DOGE.rename(columns={"Date":"date"})

      Unnamed: 0       date    doge_p
0              0 2016-01-01  0.000154
1              1 2016-02-01  0.000151
2              2 2016-03-01  0.000146
3              3 2016-04-01  0.000144
4              4 2016-05-01  0.000137
...          ...        ...       ...
2187        2187 2021-12-27  0.926184
2188        2188 2021-12-28  0.852960
2189        2189 2021-12-29  0.816714
2190        2190 2021-12-30  0.839649
2191        2191 2021-12-31  0.831163

[2192 rows x 3 columns]

In [636]:
BTC = BTC.drop('Unnamed: 0', axis=1)
LTC = LTC.drop('Unnamed: 0', axis=1)
ETH = ETH.drop('Unnamed: 0', axis=1)
XRP = XRP.drop('Unnamed: 0', axis=1)
DOGE = DOGE.drop('Unnamed: 0', axis=1)

In [637]:
BTC = BTC.set_index('date')
LTC = LTC.set_index('date')
ETH = ETH.set_index('date')
XRP = XRP.set_index('date')
DOGE= DOGE.set_index('date')

KeyError: "None of ['date'] are in the columns"

In [638]:
crypto_list = [BTC,LTC,ETH, XRP,DOGE]

In [647]:
cryptos =  pd.concat(crypto_list,axis=1,join="outer",verify_integrity=True,ignore_index=False,sort=False, copy=False)

ValueError: Indexes have overlapping values: Index(['close_price', 'Date'], dtype='object')

     close_price
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
..           ...
505          0.0
506          0.0
507          0.0
508          0.0
509          0.0

[510 rows x 1 columns]

In [645]:
cryptos_3 = pd.merge(cryptos_2,XRP,how="inner")

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [ ]:
cryptos_2.isna().sum()

In [595]:
# curr_df = pd.concat(crypto_list,axis=1,join="inner",ignore_index=False,sort=False, copy=False)

In [596]:
curr_df

Empty DataFrame
Columns: [close_price, close_price, close_price, xrp_p, doge_p]
Index: []