# API data pulling

In [32]:
import requests
import pandas as pd
import numpy as np
import time 
import json

In [33]:
BTC = requests.get("https://api.cryptowat.ch/markets/kraken/btcusd/ohlc?periods=86400&apikey=XVGSK3GTQSR4WA9W8XY7")
LTC = requests.get("https://api.cryptowat.ch/markets/kraken/ltcusd/ohlc?periods=86400&apikey=XVGSK3GTQSR4WA9W8XY7")
ETH = requests.get("https://api.cryptowat.ch/markets/kraken/ethusd/ohlc?periods=86400&apikey=XVGSK3GTQSR4WA9W8XY7") 
XRP = requests.get("https://api.cryptowat.ch/markets/kraken/xrpusd/ohlc?periods=86400&apikey=XVGSK3GTQSR4WA9W8XY7") 
DOGE = requests.get("https://api.cryptowat.ch/markets/kraken/dogeusd/ohlc?periods=86400&apikey=XVGSK3GTQSR4WA9W8XY7")

In [34]:
def clean_api_request(req):
    req = req.json()
    # Convert jsonized lists to DF 
    req = pd.DataFrame(req['result']['86400'])
    # Rename DF columns 
    req.columns = ['date', 'open_price', 'hi_price', 'lo_price', 'close_price', 'vol', 'quote_vol']
    # Select only date and closing value 
    req = req[['date','close_price']]
    # Convert Epoch time (secs since 1970) into datetime object
    req['date'] = pd.to_datetime(req['date'], unit='s')
    #Select date range from 2016 - 2021
    req = (req.loc[req["date"].between("2016-01-01", "2021-12-31")]).reset_index(drop=True)
    return req

XRP and Doge are missing some historiucal data when pulling the API data, there are no records there before 2017, may be becayse the value for those crypto  was too low.

XRP had only 1687 rows (days of trade, so missing before 2017ish) 

DOGE has onlky 743 rows 

I found historical for those 2 cryptos in Kaggle. 
https://www.kaggle.com/datasets/sudalairajkumar/cryptocurrencypricehistory?resource=download&select=coin_XRP.csv

In [35]:
BTC = clean_api_request(BTC)
LTC = clean_api_request(LTC)
ETH = clean_api_request(ETH)
#XRP and DPOGE data pulled from Kaggle 
XRP = pd.read_csv("../data/XRP_p_16-21.csv")
DOGE = pd.read_csv("../data/dogecoin_p_16_21.csv")

In [54]:
BTC = BTC.rename(columns={"close_price": "btc_p"})
LTC = LTC.rename(columns={"close_price": "ltc_p"})
ETH = ETH.rename(columns={"close_price": "eth_p"})

In [53]:
XRP

                  Date     xrp_p
0     01/01/2016 23:59  0.005955
1     02/01/2016 23:59  0.006065
2     03/01/2016 23:59  0.006017
3     04/01/2016 23:59  0.005958
4     05/01/2016 23:59  0.006044
...                ...       ...
2187  27/12/2021 23:59  0.926184
2188  28/12/2021 23:59  0.852960
2189  29/12/2021 23:59  0.816714
2190  30/12/2021 23:59  0.839649
2191  31/12/2021 23:59  0.831163

[2192 rows x 2 columns]

In [45]:
DOGE

                  Date    doge_p
0     01/01/2016 23:59  0.000154
1     02/01/2016 23:59  0.000151
2     03/01/2016 23:59  0.000146
3     04/01/2016 23:59  0.000144
4     05/01/2016 23:59  0.000137
...                ...       ...
2187  27/12/2021 23:59  0.926184
2188  28/12/2021 23:59  0.852960
2189  29/12/2021 23:59  0.816714
2190  30/12/2021 23:59  0.839649
2191  31/12/2021 23:59  0.831163

[2192 rows x 2 columns]

In [41]:
BTC.to_csv("../final_data/btc.csv")
LTC.to_csv("../final_data/ltc.csv")
ETH.to_csv("../final_data/eth.csv")
XRP.to_csv("../final_data/xrp.csv")
DOGE.to_csv("../final_data/doge.csv")

In [42]:
!git add .

In [43]:
!git commit -m'in progress'

[main d3fc975] in progress
 4 files changed, 2761 insertions(+), 4830 deletions(-)
 copy data.ipynb => .ipynb_checkpoints/data-checkpoint.ipynb (98%)
 create mode 100644 .ipynb_checkpoints/data_sourcing-checkpoint.ipynb
 rewrite data.ipynb (65%)
 rewrite data_sourcing.ipynb (85%)

In [44]:
!git push

Enumerating objects: 10, done.
Counting objects: 100% (10/10), done.
Delta compression using up to 4 threads
Compressing objects: 100% (7/7), done.
Writing objects: 100% (7/7), 14.67 KiB | 2.44 MiB/s, done.
Total 7 (delta 3), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (3/3), done.
To https://github.com/chrislacarte/crypto_analysis
   2ddc1fa..d3fc975  main -> main