In [1]:
import requests
import pandas as pd
import numpy as np
import time 
import json
import os
from datetime import datetime, timedelta

# REQUEST AND CLEAN API

In [ ]:
# API requests: 
btc = requests.get("https://api.cryptowat.ch/markets/kraken/btcusd/ohlc?periods=86400&apikey=XVGSK3GTQSR4WA9W8XY7")

In [ ]:
#Jsonize
btc = btc.json()

In [ ]:
btc['result']['86400']

In [ ]:
# Convert jsonized lists to DF 
btc = pd.DataFrame(btc['result']['86400'])

In [ ]:
# Rename DF columns 
btc.columns = ['date', 'open_price', 'hi_price', 'lo_price', 'close_price', 'vol', 'quote_vol']

In [ ]:
# Select only date and closing value 
btc = btc[['date','close_price']]

In [ ]:
# Convert Epoch time (secs since 1970) into datetime object
btc['date'] = pd.to_datetime(btc['date'], unit='s')

In [ ]:
#Select date range from 2016 - 2021
BTC = (btc.loc[btc["date"].between("2016-01-01", "2021-12-31")]).reset_index(drop=True)

# CLEAN API DATA FUNCTION

In [ ]:
def clean_api_request(req): #Inouts a cryptowatch API request
    req = req.json()
    # Convert jsonized lists to DF 
    req = pd.DataFrame(req['result']['86400'])
    # Rename DF columns 
    req.columns = ['date', 'open_price', 'hi_price', 'lo_price', 'close_price', 'vol', 'quote_vol']
    # Select only date and closing value 
    req = req[['date','close_price']]
    # Convert Epoch time (secs since 1970) into datetime object
    req['date'] = pd.to_datetime(req['date'], unit='s')
    #Select date range from 2016 - 2021
    req = (req.loc[req["date"].between("2016-01-01", "2021-12-31")]).reset_index(drop=True)
    return req # returns a DF with date and daily close cryptocurrency price for every request

# COMODITIES

In [184]:
import pandas as pd 
OIL_BRENT = pd.read_csv("../data/brent-crude-oil-prices-16-21.csv")
OIL_WTI = pd.read_csv("../data/WTI_oil_prices_16-21.csv")
GOLD = pd.read_csv("../data/gold_prices_16-21.csv")
SILVER = pd.read_csv("../data/silver_prices_16-21.csv")
STEEL = pd.read_csv("../data/Steel_prices_16-21.csv")
# COAL = pd.read_csv("../data/Coal_p_16-21.csv")

In [192]:
com_list = [OIL_WTI, OIL_BRENT, GOLD, SILVER,STEEL]  # List of dataframes

In [193]:
# We convert the date coliumn into the index to compare later with other DF 
OIL_WTI = OIL_WTI.set_index('date')
OIL_BRENT = OIL_BRENT.set_index('date')
GOLD = GOLD.set_index('date')
SILVER = SILVER.set_index('date')
STEEL = STEEL.set_index('date')

In [197]:
# Merging DF
merge=pd.merge(OIL_WTI,OIL_BRENT, how='inner', left_index=True, right_index=True)
merge_2 = pd.merge(merge,GOLD, how='inner', left_index=True, right_index=True)
merge_3 = pd.merge(merge_2,SILVER, how='inner', left_index=True, right_index=True)
comm_df = pd.merge(merge_3,STEEL, how='inner', left_index=True, right_index=True)

# CURRENCIES (£-USD, EURO-USD, USD-Yuan, USD-yen)

In [209]:
import pandas as pd 
gbp = pd.read_csv("../data/USD_GBP_16-21.csv")
eur = pd.read_csv("../data/USD_EUR_16-21.csv")
yua = pd.read_csv("../data/USD_CNY_16-21.csv")
yen = pd.read_csv("../data/USD_JPY_16-21.csv")

In [210]:
gbp['date'] = pd.to_datetime(gbp['date'])
gbp['date'] = gbp['date'].dt.strftime('%d/%m/%Y')
eur['date'] = pd.to_datetime(eur['date'])
eur['date'] = eur['date'].dt.strftime('%d/%m/%Y')
yua['date'] = pd.to_datetime(yua['date'])
yua['date'] = yua['date'].dt.strftime('%d/%m/%Y')
yen['date'] = pd.to_datetime(yen['date'])
yen['date'] = yen['date'].dt.strftime('%d/%m/%Y')

In [211]:
gbp = gbp.set_index('date')
eur = eur.set_index('date')
yua = yua.set_index('date')
yen = yen.set_index('date')

In [212]:
currencies = [gbp,eur,yua,yen]

In [213]:
curr_df = pd.concat(currencies,axis=1,join="inner",ignore_index=False,sort=False, copy=False)

# CURRENCIES AND COMM concat

In order to have the same rows and dates to compare

In [217]:
main_df = pd.merge(curr_df,comm_df,how="inner",on='date')

# INTEREST RATE INDEXES

In [250]:
import pandas as pd 
libor = pd.read_csv("../data/LIBOR_16-21.csv")
eonia = pd.read_csv("../data/eonia_16-21.csv")
fed = pd.read_csv("../data/fed-funds-rate-16-21.csv")
# Create a list of indexes to concat, ast hey have the smae days of cotization)
interest_list = [libor, eonia,fed]

In [251]:
# convert date columun to datetime object and set it as index 
libor['date'] = pd.to_datetime(libor['date'])
libor['date'] = libor['date'].dt.strftime('%d/%m/%Y')
libor = libor.set_index('date')

eonia['date'] = pd.to_datetime(eonia['date'])
eonia['date'] = eonia['date'].dt.strftime('%d/%m/%Y')
eonia = eonia.set_index('date')

fed['date'] = pd.to_datetime(fed['date'])
fed['date'] = fed['date'].dt.strftime('%d/%m/%Y')
fed = fed.set_index('date')

In [253]:
rates_1 =  pd.merge(libor,eonia,how="inner",on='date')

In [254]:
rates =  pd.merge(rates_1,fed,how="inner",on='date')

# Merge rates with main DF

In [257]:
main_=  pd.merge(main_df,rates,how="inner",on='date')

In [258]:
main_

,usd_gbp,usd_gbp_ %,usd_eur,usd_eur_%,usd_yuan,usd_yuan_%,usd_yen,usd_yen_ %,wti_oil_pprice,brent_oil_p,gold_p,silver_p,steel_price,LIBOR,eonia,fed_rate
date,,,,,,,,,,,,,,,,
04/01/2016,0.6794,0.19%,0.9232,0.26%,6.5354,0.64%,119.44,-0.74%,36.81,37.22,1075.2,13.8400,0.7704,0.37910,-0.335,0.37
06/01/2016,0.6836,0.31%,0.9275,-0.31%,6.5566,0.64%,118.47,-0.50%,33.97,34.23,1091.9,13.9800,0.7154,0.38550,-0.333,0.37
07/01/2016,0.6841,0.07%,0.9144,-1.41%,6.5929,0.55%,117.68,-0.67%,33.29,33.75,1107.8,14.3400,0.6355,0.40610,-0.321,0.41
08/01/2016,0.6887,0.67%,0.9148,0.04%,6.5965,0.05%,117.45,-0.20%,33.2,33.55,1097.9,13.9200,0.6398,0.41440,-0.330,0.40
11/01/2016,0.6876,-0.16%,0.9208,0.66%,6.5695,-0.41%,117.77,0.27%,31.42,31.55,1096.2,13.8700,0.6573,0.43456,-0.348,0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20/12/2021,0.7571,0.25%,0.8866,-0.33%,6.3756,0.01%,113.58,-0.08%,68.69,70.51,1794.6,22.2700,3.8972,0.07250,-0.491,0.08
21/12/2021,0.7535,-0.48%,0.8860,-0.07%,6.3716,-0.06%,114.08,0.44%,71.1,72.85,1788.7,22.4940,4.0883,0.07288,-0.486,0.08
22/12/2021,0.7488,-0.62%,0.8828,-0.36%,6.3695,-0.03%,114.11,0.03%,72.82,74.69,1802.2,22.7860,4.1265,0.07050,-0.489,0.08
23/12/2021,0.7457,-0.41%,0.8826,-0.02%,6.3696,0.00%,114.37,0.23%,73.89,76.26,1811.7,22.9130,4.1169,0.07513,-0.491,0.08
29/12/2021,0.7412,-0.40%,0.8809,-0.34%,6.3680,-0.01%,114.94,0.11%,76.58,78.63,1805.8,22.8394,4.1360,0.07275,-0.493,0.08

# Merge cryptos with main DF

In [631]:
BTC = pd.read_csv("../final_data/btc.csv")
LTC = pd.read_csv("../final_data/ltc.csv")
ETH = pd.read_csv("../final_data/eth.csv")
XRP = pd.read_csv("../final_data/xrp.csv")
DOGE = pd.read_csv("../final_data/doge.csv")

In [632]:
XRP["Date"] = pd.to_datetime(XRP["Date"],infer_datetime_format=True)
XRP['Date'] = XRP['Date'].dt.normalize()

In [633]:
XRP.rename(columns={"Date":"date"})

      Unnamed: 0       date     xrp_p
0              0 2016-01-01  0.005955
1              1 2016-02-01  0.006065
2              2 2016-03-01  0.006017
3              3 2016-04-01  0.005958
4              4 2016-05-01  0.006044
...          ...        ...       ...
2187        2187 2021-12-27  0.926184
2188        2188 2021-12-28  0.852960
2189        2189 2021-12-29  0.816714
2190        2190 2021-12-30  0.839649
2191        2191 2021-12-31  0.831163

[2192 rows x 3 columns]

In [634]:
DOGE["Date"] = pd.to_datetime(DOGE["Date"],infer_datetime_format=True)
DOGE['Date'] = DOGE['Date'].dt.normalize()

In [635]:
DOGE.rename(columns={"Date":"date"})

      Unnamed: 0       date    doge_p
0              0 2016-01-01  0.000154
1              1 2016-02-01  0.000151
2              2 2016-03-01  0.000146
3              3 2016-04-01  0.000144
4              4 2016-05-01  0.000137
...          ...        ...       ...
2187        2187 2021-12-27  0.926184
2188        2188 2021-12-28  0.852960
2189        2189 2021-12-29  0.816714
2190        2190 2021-12-30  0.839649
2191        2191 2021-12-31  0.831163

[2192 rows x 3 columns]

In [636]:
BTC = BTC.drop('Unnamed: 0', axis=1)
LTC = LTC.drop('Unnamed: 0', axis=1)
ETH = ETH.drop('Unnamed: 0', axis=1)
XRP = XRP.drop('Unnamed: 0', axis=1)
DOGE = DOGE.drop('Unnamed: 0', axis=1)

In [637]:
BTC = BTC.set_index('date')
LTC = LTC.set_index('date')
ETH = ETH.set_index('date')
XRP = XRP.set_index('date')
DOGE= DOGE.set_index('date')

KeyError: "None of ['date'] are in the columns"

In [638]:
crypto_list = [BTC,LTC,ETH, XRP,DOGE]

In [647]:
cryptos =  pd.concat(crypto_list,axis=1,join="outer",verify_integrity=True,ignore_index=False,sort=False, copy=False)

ValueError: Indexes have overlapping values: Index(['close_price', 'Date'], dtype='object')

     close_price
0            0.0
1            0.0
2            0.0
3            0.0
4            0.0
..           ...
505          0.0
506          0.0
507          0.0
508          0.0
509          0.0

[510 rows x 1 columns]

In [645]:
cryptos_3 = pd.merge(cryptos_2,XRP,how="inner")

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [ ]:
cryptos_2.isna().sum()

In [595]:
# curr_df = pd.concat(crypto_list,axis=1,join="inner",ignore_index=False,sort=False, copy=False)

In [596]:
curr_df

Empty DataFrame
Columns: [close_price, close_price, close_price, xrp_p, doge_p]
Index: []