In [1]:
import requests
import pandas as pd
import numpy as np
import time 
import json
import os
from datetime import datetime, timedelta

# REQUEST AND CLEAN API

Practice with the API to understand the requests and results

In [ ]:
# API requests: 
btc = requests.get("https://api.cryptowat.ch/markets/kraken/btcusd/ohlc?periods=86400&apikey=XVGSK3GTQSR4WA9W8XY7")
#Jsonize
btc = btc.json()

# btc['result']['86400']

# Convert jsonized lists to DF 
btc = pd.DataFrame(btc['result']['86400'])

# Rename DF columns 
btc.columns = ['date', 'open_price', 'hi_price', 'lo_price', 'close_price', 'vol', 'quote_vol']

# Select only date and closing value 
btc = btc[['date','close_price']]

# Convert Epoch time (secs since 1970) into datetime object
btc['date'] = pd.to_datetime(btc['date'], unit='s')

#Select date range from 2016 - 2021
BTC = (btc.loc[btc["date"].between("2016-01-01", "2021-12-31")]).reset_index(drop=True)

# CLEAN API DATA FUNCTION

In [ ]:
def clean_api_request(req): #Inouts a cryptowatch API request
    req = req.json()
    # Convert jsonized lists to DF 
    req = pd.DataFrame(req['result']['86400'])
    # Rename DF columns 
    req.columns = ['date', 'open_price', 'hi_price', 'lo_price', 'close_price', 'vol', 'quote_vol']
    # Select only date and closing value 
    req = req[['date','close_price']]
    # Convert Epoch time (secs since 1970) into datetime object
    req['date'] = pd.to_datetime(req['date'], unit='s')
    #Select date range from 2016 - 2021
    req = (req.loc[req["date"].between("2016-01-01", "2021-12-31")]).reset_index(drop=True)
    return req # returns a DF with date and daily close cryptocurrency price for every request

# CRYPTO API REQUESTS AND DATA SAVING

In [ ]:
BTC = requests.get("https://api.cryptowat.ch/markets/kraken/btcusd/ohlc?periods=86400&apikey=XVGSK3GTQSR4WA9W8XY7")
LTC = requests.get("https://api.cryptowat.ch/markets/kraken/ltcusd/ohlc?periods=86400&apikey=XVGSK3GTQSR4WA9W8XY7")
ETH = requests.get("https://api.cryptowat.ch/markets/kraken/ethusd/ohlc?periods=86400&apikey=XVGSK3GTQSR4WA9W8XY7") 
XRP = requests.get("https://api.cryptowat.ch/markets/kraken/xrpusd/ohlc?periods=86400&apikey=XVGSK3GTQSR4WA9W8XY7") 
DOGE = requests.get("https://api.cryptowat.ch/markets/kraken/dogeusd/ohlc?periods=86400&apikey=XVGSK3GTQSR4WA9W8XY7")

XRP and Doge are missing some historiucal data when pulling the API data, there are no records there before 2017, may be becayse the value for those crypto  was too low.

XRP had only 1687 rows (days of trade, so missing before 2017ish) 

DOGE has onlky 743 rows 

I found historical for those 2 cryptos in Kaggle. 
https://www.kaggle.com/datasets/sudalairajkumar/cryptocurrencypricehistory?resource=download&select=coin_XRP.csv

In [ ]:
BTC = clean_api_request(BTC)
LTC = clean_api_request(LTC)
ETH = clean_api_request(ETH)
#XRP and DPOGE data pulled from Kaggle 
XRP = pd.read_csv("../data/XRP_p_16-21.csv")
DOGE = pd.read_csv("../data/dogecoin_p_16_21.csv")

In [ ]:
BTC = BTC.rename(columns={"close_price": "btc_p"})
LTC = LTC.rename(columns={"close_price": "ltc_p"})
ETH = ETH.rename(columns={"close_price": "eth_p"})

In [ ]:
BTC.to_csv("../final_data/btc.csv")
LTC.to_csv("../final_data/ltc.csv")
ETH.to_csv("../final_data/eth.csv")
XRP.to_csv("../final_data/xrp.csv")
DOGE.to_csv("../final_data/doge.csv")

# COMODITIES

In [184]:
import pandas as pd 
OIL_BRENT = pd.read_csv("../data/brent-crude-oil-prices-16-21.csv")
OIL_WTI = pd.read_csv("../data/WTI_oil_prices_16-21.csv")
GOLD = pd.read_csv("../data/gold_prices_16-21.csv")
SILVER = pd.read_csv("../data/silver_prices_16-21.csv")
STEEL = pd.read_csv("../data/Steel_prices_16-21.csv")

com_list = [OIL_WTI, OIL_BRENT, GOLD, SILVER,STEEL]  # List of dataframes

In [193]:
# We convert the date coliumn into the index to compare later with other DF 
OIL_WTI = OIL_WTI.set_index('date')
OIL_BRENT = OIL_BRENT.set_index('date')
GOLD = GOLD.set_index('date')
SILVER = SILVER.set_index('date')
STEEL = STEEL.set_index('date')

In [197]:
# Merging DF
merge=pd.merge(OIL_WTI,OIL_BRENT, how='inner', left_index=True, right_index=True)
merge_2 = pd.merge(merge,GOLD, how='inner', left_index=True, right_index=True)
merge_3 = pd.merge(merge_2,SILVER, how='inner', left_index=True, right_index=True)
comm_df = pd.merge(merge_3,STEEL, how='inner', left_index=True, right_index=True)

# CURRENCIES (£-USD, EURO-USD, USD-Yuan, USD-yen)

In [209]:
import pandas as pd 
gbp = pd.read_csv("../data/USD_GBP_16-21.csv")
eur = pd.read_csv("../data/USD_EUR_16-21.csv")
yua = pd.read_csv("../data/USD_CNY_16-21.csv")
yen = pd.read_csv("../data/USD_JPY_16-21.csv")

In [210]:
gbp['date'] = pd.to_datetime(gbp['date'])
gbp['date'] = gbp['date'].dt.strftime('%d/%m/%Y')
eur['date'] = pd.to_datetime(eur['date'])
eur['date'] = eur['date'].dt.strftime('%d/%m/%Y')
yua['date'] = pd.to_datetime(yua['date'])
yua['date'] = yua['date'].dt.strftime('%d/%m/%Y')
yen['date'] = pd.to_datetime(yen['date'])
yen['date'] = yen['date'].dt.strftime('%d/%m/%Y')

In [211]:
gbp = gbp.set_index('date')
eur = eur.set_index('date')
yua = yua.set_index('date')
yen = yen.set_index('date')

currencies = [gbp,eur,yua,yen] # List of dataframes

In [213]:
curr_df = pd.concat(currencies,axis=1,join="inner",ignore_index=False,sort=False, copy=False)

# CURRENCIES AND COMM concat

In order to have the same rows and dates to compare

In [217]:
main_df = pd.merge(curr_df,comm_df,how="inner",on='date')

# INTEREST RATE INDEXES

In [250]:
import pandas as pd 
libor = pd.read_csv("../data/LIBOR_16-21.csv")
eonia = pd.read_csv("../data/eonia_16-21.csv")
fed = pd.read_csv("../data/fed-funds-rate-16-21.csv")

interest_list = [libor, eonia,fed]   # List of dataframes

In [251]:
# convert date columun to datetime object and set it as index 
libor['date'] = pd.to_datetime(libor['date'])
libor['date'] = libor['date'].dt.strftime('%d/%m/%Y')
libor = libor.set_index('date')

eonia['date'] = pd.to_datetime(eonia['date'])
eonia['date'] = eonia['date'].dt.strftime('%d/%m/%Y')
eonia = eonia.set_index('date')

fed['date'] = pd.to_datetime(fed['date'])
fed['date'] = fed['date'].dt.strftime('%d/%m/%Y')
fed = fed.set_index('date')

In [253]:
rates_1 =  pd.merge(libor,eonia,how="inner",on='date')

In [254]:
rates =  pd.merge(rates_1,fed,how="inner",on='date')

# Merge rates with main DF

In [257]:
main_=  pd.merge(main_df,rates,how="inner",on='date')

# Merge cryptos with main DF

In [377]:
BTC = pd.read_csv("../final_data/btc.csv")
LTC = pd.read_csv("../final_data/ltc.csv")
ETH = pd.read_csv("../final_data/eth.csv")
XRP = pd.read_csv("../final_data/xrp.csv")
DOGE = pd.read_csv("../final_data/doge.csv")

In [378]:
BTC

      Unnamed: 0        date        btc_p
0              0  2016-01-01    431.31000
1              1  2016-01-02    431.50530
2              2  2016-01-03    434.98000
3              3  2016-01-04    426.57000
4              4  2016-01-05    431.08414
...          ...         ...          ...
2186        2186  2021-12-27  50797.30000
2187        2187  2021-12-28  50687.40000
2188        2188  2021-12-29  47548.10000
2189        2189  2021-12-30  46473.20000
2190        2190  2021-12-31  47143.80000

[2191 rows x 3 columns]

In [379]:
# Convert date column to desired data type:
XRP["Date"] = pd.to_datetime(XRP["Date"],infer_datetime_format=True)
XRP['Date'] = XRP['Date'].dt.normalize()

DOGE["Date"] = pd.to_datetime(DOGE["Date"],infer_datetime_format=True)
DOGE['Date'] = DOGE['Date'].dt.normalize()

# Drop 'Unnamed:0' column: 
BTC = BTC.drop('Unnamed: 0', axis=1)
LTC = LTC.drop('Unnamed: 0', axis=1)
ETH = ETH.drop('Unnamed: 0', axis=1)
XRP = XRP.drop('Unnamed: 0', axis=1)
DOGE = DOGE.drop('Unnamed: 0', axis=1)

XRP = XRP.rename(columns={'Date':'date'})
DOGE = DOGE.rename(columns={'Date':'date'})

In [386]:
# Convert date column to desired format:
BTC['date'] = pd.to_datetime(BTC['date'])
BTC['date'] = BTC['date'].dt.strftime('%d/%m/%Y')
LTC['date'] = pd.to_datetime(LTC['date'])
LTC['date'] = LTC['date'].dt.strftime('%d/%m/%Y')
ETH['date'] = pd.to_datetime(ETH['date'])
ETH['date'] = ETH['date'].dt.strftime('%d/%m/%Y')
XRP['date'] = pd.to_datetime(XRP['date'])
XRP['date'] = XRP['date'].dt.strftime('%d/%m/%Y')
DOGE['date'] = pd.to_datetime(DOGE['date'])
DOGE['date'] = DOGE['date'].dt.strftime('%d/%m/%Y')

# Set date column as index to merge and have the same days of trade: 
BTC = BTC.set_index('date')
LTC = LTC.set_index('date')
ETH = ETH.set_index('date')
XRP = XRP.set_index('date')
DOGE= DOGE.set_index('date')

crypto_list = [BTC,LTC,ETH, XRP,DOGE]

KeyError: 'date'

In [382]:
cryptos = pd.concat(crypto_list,axis=1,join="inner",ignore_index=False,sort=False, copy=False)

Merge all in a main DF so i have the matchin days of trade

In [385]:
final_df = pd.merge(cryptos,main_,how="inner",on='date')

,btc_p,ltc_p,eth_p,xrp_p,doge_p,usd_gbp,usd_gbp_ %,usd_eur,usd_eur_%,usd_yuan,...,usd_yen,usd_yen_ %,wti_oil_pprice,brent_oil_p,gold_p,silver_p,steel_price,LIBOR,eonia,fed_rate
date,,,,,,,,,,,,,,,,,,,,,
04/01/2016,426.57000,3.49300,0.9600,0.007418,0.000224,0.6794,0.19%,0.9232,0.26%,6.5354,...,119.44,-0.74%,36.81,37.22,1075.2,13.8400,0.7704,0.37910,-0.335,0.37
06/01/2016,431.32000,3.47900,0.9426,0.005809,0.000234,0.6836,0.31%,0.9275,-0.31%,6.5566,...,118.47,-0.50%,33.97,34.23,1091.9,13.9800,0.7154,0.38550,-0.333,0.37
07/01/2016,429.99000,3.44000,0.9500,0.006787,0.000302,0.6841,0.07%,0.9144,-1.41%,6.5929,...,117.68,-0.67%,33.29,33.75,1107.8,14.3400,0.6355,0.40610,-0.321,0.41
08/01/2016,457.88354,3.58399,0.9400,0.005906,0.000223,0.6887,0.67%,0.9148,0.04%,6.5965,...,117.45,-0.20%,33.2,33.55,1097.9,13.9200,0.6398,0.41440,-0.330,0.40
11/01/2016,449.13000,3.52817,1.0000,0.008102,0.000221,0.6876,-0.16%,0.9208,0.66%,6.5695,...,117.77,0.27%,31.42,31.55,1096.2,13.8700,0.6573,0.43456,-0.348,0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20/12/2021,46688.40000,153.22000,3924.3700,0.879828,0.879828,0.7571,0.25%,0.8866,-0.33%,6.3756,...,113.58,-0.08%,68.69,70.51,1794.6,22.2700,3.8972,0.07250,-0.491,0.08
21/12/2021,46898.10000,152.75000,3941.8200,0.947646,0.947646,0.7535,-0.48%,0.8860,-0.07%,6.3716,...,114.08,0.44%,71.1,72.85,1788.7,22.4940,4.0883,0.07288,-0.486,0.08
22/12/2021,48925.90000,154.70000,4018.2000,0.954699,0.954699,0.7488,-0.62%,0.8828,-0.36%,6.3695,...,114.11,0.03%,72.82,74.69,1802.2,22.7860,4.1265,0.07050,-0.489,0.08
23/12/2021,48624.90000,155.41000,3980.4400,0.993285,0.993285,0.7457,-0.41%,0.8826,-0.02%,6.3696,...,114.37,0.23%,73.89,76.26,1811.7,22.9130,4.1169,0.07513,-0.491,0.08
29/12/2021,47548.10000,145.64000,3792.0900,0.816714,0.816714,0.7412,-0.40%,0.8809,-0.34%,6.3680,...,114.94,0.11%,76.58,78.63,1805.8,22.8394,4.1360,0.07275,-0.493,0.08

Now that we have all the data for the sam trading days ,we can splpit the DF by columns for further analysis:

In [ ]:
crypto_