# DATA ANALYSIS

In [2]:
import pandas as pd

In [9]:
# Load the data 
main_df = pd.read_csv("../final_data/final_df.csv")
crypto_df = pd.read_csv("../final_data/crypto_series.csv")
currency_df = pd.read_csv("../final_data/currency_series.csv")
commodity_df = pd.read_csv("../final_data/commodity_series.csv")
rates_df = pd.read_csv("../final_data/rates_series.csv")

In [10]:
# # Check for Nan values
# main_df.isna().sum()

In [12]:
display(main_df)
# display(crypto_df)
# display(currency_df)
# display(commodity_df)
# display(rates_df)

,date,btc_p,ltc_p,eth_p,xrp_p,doge_p,usd_gbp,usd_gbp_ %,usd_eur,usd_eur_%,...,usd_yen,usd_yen_ %,wti_oil_pprice,brent_oil_p,gold_p,silver_p,steel_price,LIBOR,eonia,fed_rate
0,04/01/2016,426.57000,3.49300,0.9600,0.007418,0.000224,0.6794,0.19%,0.9232,0.26%,...,119.44,-0.74%,36.81,37.22,1075.2,13.8400,0.7704,0.37910,-0.335,0.37
1,06/01/2016,431.32000,3.47900,0.9426,0.005809,0.000234,0.6836,0.31%,0.9275,-0.31%,...,118.47,-0.50%,33.97,34.23,1091.9,13.9800,0.7154,0.38550,-0.333,0.37
2,07/01/2016,429.99000,3.44000,0.9500,0.006787,0.000302,0.6841,0.07%,0.9144,-1.41%,...,117.68,-0.67%,33.29,33.75,1107.8,14.3400,0.6355,0.40610,-0.321,0.41
3,08/01/2016,457.88354,3.58399,0.9400,0.005906,0.000223,0.6887,0.67%,0.9148,0.04%,...,117.45,-0.20%,33.20,33.55,1097.9,13.9200,0.6398,0.41440,-0.330,0.40
4,11/01/2016,449.13000,3.52817,1.0000,0.008102,0.000221,0.6876,-0.16%,0.9208,0.66%,...,117.77,0.27%,31.42,31.55,1096.2,13.8700,0.6573,0.43456,-0.348,0.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1282,20/12/2021,46688.40000,153.22000,3924.3700,0.879828,0.879828,0.7571,0.25%,0.8866,-0.33%,...,113.58,-0.08%,68.69,70.51,1794.6,22.2700,3.8972,0.07250,-0.491,0.08
1283,21/12/2021,46898.10000,152.75000,3941.8200,0.947646,0.947646,0.7535,-0.48%,0.8860,-0.07%,...,114.08,0.44%,71.10,72.85,1788.7,22.4940,4.0883,0.07288,-0.486,0.08
1284,22/12/2021,48925.90000,154.70000,4018.2000,0.954699,0.954699,0.7488,-0.62%,0.8828,-0.36%,...,114.11,0.03%,72.82,74.69,1802.2,22.7860,4.1265,0.07050,-0.489,0.08
1285,23/12/2021,48624.90000,155.41000,3980.4400,0.993285,0.993285,0.7457,-0.41%,0.8826,-0.02%,...,114.37,0.23%,73.89,76.26,1811.7,22.9130,4.1169,0.07513,-0.491,0.08
1286,29/12/2021,47548.10000,145.64000,3792.0900,0.816714,0.816714,0.7412,-0.40%,0.8809,-0.34%,...,114.94,0.11%,76.58,78.63,1805.8,22.8394,4.1360,0.07275,-0.493,0.08

In [16]:
# Defining which columns belong to every group of features
crypto_col = ['btc_p', 'ltc_p', 'eth_p', 'xrp_p', 'doge_p']
currency_col = ['usd_gbp', 'usd_gbp_ %','usd_eur', 'usd_eur_%', 'usd_yuan', 'usd_yuan_%', 'usd_yen','usd_yen_ %'] 
comm_col = ['wti_oil_pprice', 'brent_oil_p', 'gold_p', 'silver_p','steel_price']
rates_col = ['LIBOR', 'eonia', 'fed_rate']

# Separarting DF for further analysis
crypto = main_df[crypto_col]
currency = main_df[currency_col]
commodity = main_df[comm_col]
rates = main_df[rates_col]

The crypto DF does not need transformation for now as will be the target.

In [33]:
# CURRENCY PRICES IN $ Vs CRYPTO PRICES 
curr_btc = main_df[['usd_gbp', 'usd_eur', 'usd_yuan',  'usd_yen','btc_p']]
curr_ltc = main_df[['usd_gbp', 'usd_eur', 'usd_yuan',  'usd_yen','ltc_p']]
curr_eth = main_df[['usd_gbp', 'usd_eur', 'usd_yuan',  'usd_yen','eth_p']]
curr_xrp = main_df[['usd_gbp', 'usd_eur', 'usd_yuan',  'usd_yen','xrp_p']]
curr_doge= main_df[['usd_gbp', 'usd_eur', 'usd_yuan',  'usd_yen','doge_p']]

# CURRENCY PRICE VARIATION Vs CRYPTO PRICES 
curr_var_btc = main_df[['usd_gbp_ %','usd_eur_%','usd_yuan_%','usd_yen_ %','btc_p']]
curr_var_ltc = main_df[['usd_gbp_ %','usd_eur_%','usd_yuan_%','usd_yen_ %','ltc_p']]
curr_var_eth = main_df[['usd_gbp_ %','usd_eur_%','usd_yuan_%','usd_yen_ %','eth_p']]
curr_var_xrp = main_df[['usd_gbp_ %','usd_eur_%','usd_yuan_%','usd_yen_ %','xrp_p']]
curr_var_doge= main_df[['usd_gbp_ %','usd_eur_%','usd_yuan_%','usd_yen_ %','doge_p']]

# COMMODITY PRICES Vs CRYPTO PRICES 
comm_btc = main_df[['wti_oil_pprice', 'brent_oil_p', 'gold_p', 'silver_p', 'steel_price', 'btc_p']]
comm_ltc = main_df[['wti_oil_pprice', 'brent_oil_p', 'gold_p', 'silver_p', 'steel_price', 'ltc_p']]
comm_eth = main_df[['wti_oil_pprice', 'brent_oil_p', 'gold_p', 'silver_p', 'steel_price', 'eth_p']]
comm_xrp = main_df[['wti_oil_pprice', 'brent_oil_p', 'gold_p', 'silver_p', 'steel_price', 'xrp_p']]
comm_doge= main_df[['wti_oil_pprice', 'brent_oil_p', 'gold_p', 'silver_p', 'steel_price', 'doge_p']]

# INTEREST RATES Vs CRYPTO PRICES 
rates_btc = main_df[['LIBOR', 'eonia', 'fed_rate', 'btc_p']]
rates_ltc = main_df[['LIBOR', 'eonia', 'fed_rate', 'ltc_p']]
rates_eth = main_df[['LIBOR', 'eonia', 'fed_rate', 'eth_p']]
rates_xrp = main_df[['LIBOR', 'eonia', 'fed_rate', 'xrp_p']]
rates_doge= main_df[['LIBOR', 'eonia', 'fed_rate', 'doge_p']]

      usd_gbp  usd_eur  usd_yuan  usd_yen        btc_p
0      0.6794   0.9232    6.5354   119.44    426.57000
1      0.6836   0.9275    6.5566   118.47    431.32000
2      0.6841   0.9144    6.5929   117.68    429.99000
3      0.6887   0.9148    6.5965   117.45    457.88354
4      0.6876   0.9208    6.5695   117.77    449.13000
...       ...      ...       ...      ...          ...
1282   0.7571   0.8866    6.3756   113.58  46688.40000
1283   0.7535   0.8860    6.3716   114.08  46898.10000
1284   0.7488   0.8828    6.3695   114.11  48925.90000
1285   0.7457   0.8826    6.3696   114.37  48624.90000
1286   0.7412   0.8809    6.3680   114.94  47548.10000

[1287 rows x 5 columns]